div {
    /* border: 2px, solid, red; */
    margin: 2px;
    padding: 2px;
}

.container-button {
    display: flex;
    justify-content: space-evenly;
    max-width: 960px;
    min-width: 500px;
}

.container {
    display: flex;
    max-width: 960px;
    min-width: 500px;
    max-height: 960px;
    aspect-ratio: 1/1;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex: 1;
}

.border {
    border: 2px, solid, rgb(0, 0, 255);
    padding: 0;
    margin: 0;
    aspect-ratio: 1/1;
    min-width: 20px;
    max-width: 100%;
}

.item {
    aspect-ratio: 1/1;
    min-width: 20px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
