div {
    border: 2px, solid, red;
    margin: 2px;
    padding: 2px;
}

.container-button {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
}

#item {
    border: 2px, solid, blue;
}

#item:hover {
    background-color: aqua;
}